/*##########################################*/
/*Style Resets and other standard modifications*/
/*##########################################*/

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-position: inside;
}


/* Sikrer billeder er responsive */
img {
    display: block; /* Billeder er et element (laver linjeskift) */
    max-width: 100%; /* Bredde må maks fylde 100% */
    height: auto; /* Højden skal tilpasse sig */
}

/*##########################################*/
/*General*/
/*##########################################*/
/*Variables*/
:root{
    --lightBG: #fefefe;
    --lightGTxt: #7fff61;
}
html{
    background-color: lightgray;
}

body{
    padding: 0 2rem;
    padding-top: 120px;
    font-family: 'Open Sans', sans-serif;
    max-width: 1700px;
    min-height: 100vh;
    margin: auto;
    background-color: white;
    box-shadow: 0 5px 10px 3px rgba(0,0,0, 0.2);
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}


/*##########################################*/
/*Nav*/
/*##########################################*/
nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1700px;
    z-index: 1000;
    background-color: white;
    padding: .5rem 0;
    box-shadow: 0 1px 5px 0px rgba(0,0,0, 0.2);

}
nav ul{
    display: flex;
    flex-grow: 2;
}
nav li{
    list-style: none;
}
nav a{
    position: relative;
    text-decoration: none;
    color: #0e133c;
    background-color: white;
    padding: 1rem 1.3rem;
    display: inline-block;
    border-bottom: solid 1px #0e133c;
    margin: 0 .5rem;
}
nav a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: .1rem;
    background-color: #0e133c;
    transition: .1s ease-in-out all;
}
nav a:hover{
    font-weight: bold;
}
nav a:hover::after{
    width: 100%;
}
.cartCount{
    position: absolute;
    top: .4rem;
    right: -.3rem;
    font-size: .8rem;
    display: flex;
    margin: auto 1rem;
    height: 1rem;
    width: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #7fff61;
    border-radius: 50%;
    box-shadow: 0 1px 5px 0px #7fff61;
}

.multilevelnav{

}
.multilevelnav > div{
    height: 0;
    overflow-y: hidden;
}
.multilevelnav > div > ul{
    display: flex;
    justify-content: space-between;
}
.multilevelnav > div > ul > li{
    width: 25%;
}
.multilevelnav li{
    list-style: none;
}
#productDrop:hover, #productDrop:hover + div, #productDrop + div:hover{
    height: 25vh;
    background-color: rgba(0,0,0, .05);
}

#computerNav > ul, #monitorNav > ul, #mouseNav > ul, #keyboardNav > ul{
    height: 0;
    overflow-y: hidden;
    background-color: lightgray;
    border-left: #7fff61 solid 3px;
    border-right: #7fff61 solid 3px;
}
#computerNav:hover > ul, #monitorNav:hover > ul, #mouseNav:hover > ul, #keyboardNav:hover > ul{
    height: unset;
    padding: .5rem;
    width: max-content;
}
ul li ul li{
    border-bottom: black dashed 1px;
    padding: .2rem 0;
}



/*##########################################*/
/*Index Page*/
/*##########################################*/

body.index{
    position: relative;
}
.adminButton{
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: #0e133c;
    color: white;
    display: block;
    text-decoration: none;
}
.adminButton:hover{
    font-weight: bold;
}

.heroSection{
    width: 100%;
    position: relative;
}
.heroSection img{
    width: 100%;
    filter: blur(5px);
}
.heroSection h1{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    padding: 3rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgba(250,250,250, .3);
}

.index .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.index .products > div{
    padding: 1rem;
    margin: 1rem;
}
.index .products h2{
    width: 100%;
    text-align: center;
    padding: 2rem 0 0 0;
}
.index .products > div > a{
    font-weight: bold;

    padding: 1rem;
    border: solid #0e133c 1px;
}
.index .products a{
    display: block;
    text-decoration: none;
    color: #0e133c;
    border-bottom: #0e133c solid 1px;
    margin: .7rem 0;
}
.index .products li{
    list-style: none;
    position: relative;
    padding-left: 1rem;
}
.index .products li::before{
    content: "-";
    position: absolute;
    left: 0;
    font-size: 1rem;
}
/*##########################################*/
/*Products Page*/
/*##########################################*/
.productContainer{
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;

}

.flipCard{
    max-width: 250px;
    width: 100%;
    min-height: 400px;
    perspective: 500px;
    margin: 1rem;
    display: block;
}
.flipCardInner{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 5px 10px 3px rgba(0,0,0, 0.2);
    border-radius: 10px;
}

.flipCard:hover .flipCardInner{
    transform: rotateY(180deg);

}

.flipCardFront, .flipCardBack{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;

}

.flipCardFront{

}

.flipCardBack{
    transform: rotateY(180deg);
}
.cardPrice{
    flex-grow: 2;
}
.cardDesc{
    flex-grow: 2;
}
.cardButton{
    text-decoration: none;
    color: #0e133c;
    border: solid 1px #0e133c;
    padding: 0.5rem .8rem;
    text-align: center;
    border-radius: 5px;
}
.cardButton:hover{
    font-weight: bold;
}


/*##########################################*/
/*Shopping Cart Page*/
/*##########################################*/
.productCart{
    display: flex;
}
.productCart img{
    width: 50px;
}

/*##########################################*/
/*Login Page*/
/*##########################################*/

.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 2rem;
    margin: 50px auto;
    box-shadow: 0 0 10px 2px rgba(0,0,0, .2);
}
.register button{
    display: block;
    padding: .5rem 1.5rem;
    font-size: .8rem;
    background-color: white;
    font-weight: normal;
    color: #0e133c;
    border: solid 1px #0e133c;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px rgba(0,0,0, .2);
    cursor: pointer;
    margin: auto;
}
.register button:hover{
    font-weight: bold;
}
.register div{
    position: relative;
    width: 400px;
    max-width: 400px;
    height: 30px;
    margin: 1rem 0;
}
.register div label, .register div input:invalid + label{
    position: absolute;
    z-index: 20;
    left: .5rem;
    line-height: 30px;
    pointer-events: none;
}
.register div input:focus + label, .register div input:valid + label{
    top: -10px;
    font-size: .6rem;
    opacity: .8;
}
.register div input{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding-top: .7rem;
    padding-left: .5rem;
    border: none;
    border-bottom: solid #0e133c 1px;
    background-color: rgba(14,19,60 , .1);
}
.error{
    color: red;
    margin: 1rem auto;
}

/*##########################################*/
/*Control Panel Page*/
/*##########################################*/
.cl-hl{
    margin: 1rem 0;
}
.products-CP, .addProduct{
    max-width: 1500px;
    padding: 1rem;
    box-shadow: 0 0 3px 1px rgba(0,0,0, .2);
    margin: 1rem auto;
}

.productListItem{
    width: 100%;
    display: flex;
    align-items: center;
    padding: .3rem;
}
.productListItem:nth-of-type(odd), .updateProductForm:nth-of-type(odd){
    background-color: #f5f5f5;
}
.productListItem img {
    width: 50px;
    margin: 0 10px;
}
.productListItem:hover + .updateProductForm, .updateProductForm:hover{
    height: 100%;
    padding: 1.2rem 1.6rem;
    border-bottom: solid black 1px;
}
.updateProductForm{
    height: 0px;
    overflow-y: hidden;
}
.updateProductForm input, .updateProductForm textarea{
    padding: .3rem;
}
.updateProductForm input:nth-of-type(1){
    width: 5ch;
}

.updateProductForm button, .addProduct button{
    padding: .2rem .3rem;
    background-color: #0e133c;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.updateProductForm button:hover, .addProduct button:hover{
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    /* Alt der ændres i tablet stående fra mobil */
}

@media screen and (min-width: 992px) {
    /* Alt der ændres i tablet liggende fra mobil og tablet stående */
}

@media screen and (min-width: 1200px) {
    /* Alt der ændres i computer fra mobil, tablet stående og tablet liggende */
}

@media print {
    /* Alt der gælder for print specifikt */
}
